.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.weather {
  padding: 20px;
  text-align: center;
  

}

.outerbod{
  overflow: hidden;
    background-color: rgb(174, 172, 172);
    background-image: url("https://source.unsplash.com/1600x600/?landscape");
}
.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 500px; /* Set the maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
}

.weather-info {
  flex: 1;
  margin-right: 0.5rem; 
  text-align: left;
}

.weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-icon img {
  max-width: 150px; /* Reduce the maximum width of the icon */
  height: 150px;
}


